div.hImg1{
    max-height: 30%;
    max-width: 100%;
    padding: 15%;
    background-image: url("../images/members/heejin/vivid_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
}
.tableH1{
    padding: 5%;
    background-color: #ED008E;
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: 'Sacramento', cursive;
}
.heejinTA{
    background-color: #66CDEC;
    color: white;
}
.heejinTB{
    background-color: #E08EE6;
    color: white;
}