div.hImg7{
    max-height: 30%;
    max-width: 100%;
    padding: 15%;
    background-image: url("../images/members/jinsoul/sitr_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
}
.tableH7{
    padding: 5%;
    background-color: #0801D5;
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: 'Sacramento', cursive;
}
.jinsoulTA{
    background-color: #ff70a8;
    color: white;
}
.jinsoulTB{
    background-color: #00aeef;
    color: white;
}