div.hImg4{
    max-height: 30%;
    max-width: 100%;
    padding: 15%;
    background-image: url("../images/members/yeojin/kl_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
}
.tableH4{
    padding: 5%;
    background-color: #FE9702;
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: 'Sacramento', cursive;
}
.yeojinTA{
    background-color: #0d8bd3;
    color: white;
}
.yeojinTB{
    background-color: #e28f88;
    color: white;
}